.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.todo-container {
  margin: 100px 0;
  width: 60%;
  height: 600px;
  min-width: 500px;
  min-height: 500px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;

  animation-duration: 2s;
  animation-name: fadein;
}

.todo-header {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #72727286;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin: 10px 0;
  overflow: hidden;
}

.new-task-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new-task-container button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.new-task-container button:hover,
.new-task-container button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.new-task-container button:hover {
  transform: translateY(-1px);
}

.new-task-container button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.modal-container {
  display: flex;
  align-items: center;
  margin: 200px auto;
  background-color: whitesmoke;
  width: 200px;
  height: 50%;
  border-radius: 10px;
  border: 1px solid grey;
}

.modal-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

.modal-form-container input {
  border: 1px solid grey;
  border-radius: 2px;
}

.no-tasks {
  font-size: 24px;
  color: #727272;
  opacity: 0.5;
  font-weight: 200;
}

.task-container {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #727272;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;

  animation: task-fadein;
  animation-duration: 1s;
}

h1, h2 {
  font-weight: lighter;
}

@keyframes task-fadein {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    margin: 200px 0;
  }

  to {
    opacity: 1;
    margin: 100px 0;
  }
}


